.jumbotron {
  padding: 6rem;
  background-image: url('gambar/Ah.png');
  background-position: center;
  filter: brightness(100%);
}
 
.card {
  border: 10px double black;
  background-color: secondary;
}

.clearfix {
  border: 8px double white;
  background-color: #212121;
  color: white;
}

body {
  background-color: #212121;
 
}
section {
  padding-top: 4rem;
}

musik {
  background-color: black;
  background-color: black;
}

footer {
  background-color: #000000;
}

